@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-base font-inter antialiased text-white;
}

main {
  @apply min-h-[calc(100dvh-4rem)] md:min-h-[calc(100dvh-5rem)];
}

body {
  min-height: 100%;
  margin: 0;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@layer base {
  h1 {
    @apply md:text-5xl lg:text-6xl text-4xl font-bold;
  }
  h2 {
    @apply md:text-3xl lg:text-4xl text-2xl font-bold;
  }
  h3 {
    @apply md:text-2xl lg:text-3xl text-xl;
  }
  h4 {
    @apply md:text-xl lg:text-2xl text-lg;
  }
  p {
    @apply md:text-lg text-base;
  }
  p.small {
    @apply md:text-base text-sm;
  }
}

@layer utilities {
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .height-screen-helper {
    height: calc(100vh - 80px);
  }
}
