@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  @apply bg-base font-inter overflow-x-hidden antialiased text-white;
}

body {
  min-height: 100%;
}

@layer base {
  h1 {
    @apply md:text-5xl lg:text-6xl text-4xl font-bold text-white;
  }
  h2 {
    @apply md:text-3xl lg:text-4xl text-2xl font-bold text-white;
  }
  h3 {
    @apply md:text-2xl lg:text-3xl text-xl text-white;
  }
  h4 {
    @apply md:text-xl lg:text-2xl text-lg text-white;
  }
  p {
    @apply md:text-lg text-base text-white;
  }
  p.small {
    @apply md:text-base text-sm text-white;
  }
}

@layer utilities {
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}
