.homepage {
  @apply relative z-auto w-full h-full pt-20;
}

.homepageContainer {
  @apply md:pt-20 lg:grid lg:grid-cols-2 lg:grid-flow-row place-items-center container relative z-10 flex flex-col w-full max-w-screen-lg gap-10 pt-10 min-h-[calc(100dvh-4rem)] h-auto;
}

.homepageContainer h1 {
  @apply lg:col-span-full text-center;
}

.homepageContainer h2,
.homepageContainer h4 {
  @apply lg:text-left text-center;
}

.background {
  background-image: radial-gradient(circle at center, #071e2c8e 0%, #071e2c 85%),
    url('/home_bg.jpg');
  @apply absolute inset-0 z-[1] bg-cover bg-center w-full h-full;
}

.homeLeft {
  @apply md:flex-row lg:col-start-1 flex flex-col justify-center w-full h-auto;
}

.homeLeft ul {
  @apply md:gap-8 md:mt-10 lg:-mt-20 lg:gap-12 flex flex-col items-start w-full h-auto gap-4;
}

.homeLeft ul li {
  @apply lg:self-start flex self-center gap-10;
}

.homeRight {
  @apply lg:col-start-2 w-full h-auto;
}

.homeRight img {
  @apply md:w-80 lg:w-96 lg:-mb-4 w-64 h-auto m-auto;
}

.product {
  @apply md:py-20 container flex flex-col justify-between py-10 min-h-[calc(100dvh-4rem)] h-auto;
}

.product h2 {
  @apply mb-2 text-center;
}

.product h4 {
  @apply mb-10 text-center;
}

.product button {
  @apply self-center;
}

.faqs {
  @apply min-h-[calc(100dvh-4rem)] h-auto container relative py-20 overflow-hidden grid place-items-center gap-10 grid-flow-row md:gap-20 lg:gap-24;
}

.blTriangle {
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  @apply bg-accent md:w-32 md:h-32 lg:w-40 lg:h-40 absolute bottom-0 left-0 w-20 h-20;
}

.trTriangle {
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  @apply bg-accent md:w-32 md:h-32 lg:w-40 lg:h-40 absolute top-0 right-0 w-20 h-20;
}

.contact {
  @apply min-h-[calc(100dvh-4rem)] h-auto container py-20 grid grid-flow-row place-items-center;
}
