.root {
  @apply rounded-xl font-inter flex w-auto h-auto px-5 py-3 font-medium leading-6;
}

.root:hover {
  @apply bg-opacity-70 border border-white cursor-pointer;
}

.root:focus {
  @apply ring-2 ring-secondary ring-opacity-50 outline-none;
}

.root[data-active] {
  @apply bg-accent bg-blend-darken;
}

.loading {
  @apply bg-zinc-700 text-zinc-500 border-zinc-600 cursor-not-allowed;
}

.filled {
  @apply text-accent bg-white;
}

.outline {
  @apply border-accent text-accent hover:text-white focus:text-white bg-transparent border;
}

.disabled,
.disabled:hover {
  @apply text-zinc-400 border-zinc-600 bg-zinc-700 cursor-not-allowed;
  filter: grayscale(1);
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
